/* 横幅設定 */
body{
 max-width: 1920px;
 min-width: 1080px;
 margin: 0 auto 0 auto;
}
/* ヘッダー */
header {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto 0 auto;   
}

/* ナビゲーションのレイアウト */
#nav-pc {
    text-align: right;
    font-size: 14px;
    padding-top: 15px;
    font-weight: bold;
    color: black;
}

/* ナビゲーションのリンク装飾設定 */
#nav-pc > a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
}
#nav-pc > a:link {
    color: black;
}
#nav-pc > a:hover {
    color: black;
    text-decoration: underline;
}
#nav-pc > a:active {
    color: black;
}

/* メイン */
.main-img {
   width: auto;
   margin: 20px 0 0 0;
}
#main-visual {
   display: flex;
   justify-content: center;
   align-items: center;
   
}

#main-message  {
    font-size: 60px;
    font-weight: bold;
    color: white;
    position: absolute;
    display: block;
    justify-content: center;
}
#main-message > p {
    font-size: 20px;
    margin: 200px 0 0 400px;
    position: absolute;
}

/* リノベーション・リフォーム */
#reform {
    margin: 80px auto 80px auto;
    width: 100%;
    
}
#flexbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
}

.div-img > h1 {
    display: flex;
    position: absolute;
    top: 30px;
}
.div-img > p{
    display: flex;
    position: absolute;
    top: 50px;
}
/* 新築・注文住宅*/

/* 展示場の来場案内 */
.go {
    position: relative;
    display: table;
    width: 100%;
}

.go > h1 {
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%,-50%);
   color: white;
}
.go > p {
    position: absolute;
    top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   color: white;
   font-size: 10px;
}

/* イベント */
.event-h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.event-img {
    width: 100%;
    height: 250px;
}

/* ブログ */
.blog-img > a {
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: black;
    }
    .blog-img > a:link {
        color: black;
    }
    .blog-img > a:hover {
        color: black;
        text-decoration: underline;
    }
    .blog > a:active {
        color: black;
    }

.blog-img {
    width: 300px;
    height: 180px;
    justify-content: space-between;
    
}
.blog > h1 {
    font-size:30px;
    font-weight: bold;
    text-align: center;
    
}
#blog-flex {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

/* 住まいの訪問記 */
.home {
    margin: 80px auto 80px auto;
    width: 100%;
}
.home-h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}
.home-img {
    width: 100%;
    display: flex;
    
}

.home-img > h1 {
    font-size:14px;
    font-weight: bold;
    text-align: center;
}
#home-flex {
    width: auto;
    display: flex;
    justify-content: space-between;
}

/* フッター */
footer {
    width: auto;
    height: 500px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto 0 auto;
    
}
#footer-link {
    display: block;
    text-align: right;
}
#footer-link > a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    text-align: right;
    
}

#footer-link > a:hover {
text-decoration: underline;
}

#footer-link > p {
    text-decoration: none;
}
#footer-link > p:hover {
    text-decoration: underline;
}





