/* 横幅設定 */
body{
 max-width: 1080px;
 min-width: 960px;
 margin: 0 auto 0 auto;
}
/* ヘッダー */
header {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto 0 auto;   
}

/* ナビゲーションのレイアウト */
#nav-pc {
    text-align: right;
    font-size: 14px;
    padding-top: 15px;
    font-weight: bold;
    color: black;
}

/* ナビゲーションのリンク装飾設定 */
#nav-pc > a {
    text-decoration: none;
    margin-left: 20px;
}
#nav-pc > a:link {
    color: black;
}
#nav-pc > a:hover {
    color: black;
    text-decoration: underline;
}
#nav-pc > a:active {
    color: black;
}

/* メイン */
.main-img {
   width: 100%;
   margin: 20px 0 0 0;
}

#main-message > h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 100px 0 0 50px;
    color: white;
    position: absolute;
}
#main-message > p {
    font-size: 20px;
    margin: 200px 0 0 400px;
    position: absolute;
}

/* リノベーション・リフォーム */
#reform {
    margin: 80px auto 80px auto;
    width: 100%;
}
#flexbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.div-img > h1 {
    display: flex;
    position: absolute;
    top: 30px;
}
.div-img > p{
    display: flex;
    position: absolute;
}
/* 新築・注文住宅*/

/* 展示場の来場案内 */
.go {
    position: relative;
}
.go h1 {
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%,-50%);
   color: white;
}
.go p {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   color: white;
   width: 80%;
   font-size: 10px;
}


